<!--به نام خداوند جان و خرد-->
<!-- هیچ نیرو و توانى جز از سوى خداوند بلندمرتبه و بزرگ نیست-->
<!--پندار نیک، گفتار نیک، کردار نیک-->
{% load static %}
<!DOCTYPE html>
<html dir="rtl" class="writer-html5" lang="en" data-content_root="./">
    <!-- head -->
    {% include "core/include/head.html" with TitlePage="****" %}

    <body class="wy-body-for-nav">

        {% block ContentPage %}

        {% endblock %}

        <!-- Javascript  -->
        {% block Javascript %}

        {% endblock %}

    </body>
    <!--end body-->
</html>